/* Krasu palete */
/* #8C080C */
/* #FFFFFF */
/* #222222 */
@import url('//fonts.googleapis.com/css?family=Lato');
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #FFFFFF;
}
canvas {
  display: block;
  vertical-align: bottom;
}
#particle-container {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.main {
  z-index: 100;
  display: flex;
  flex-direction: row;
  height: 100%;
}
#break {
  display: none;
}
.info {
  flex: 3.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.info h1 {
  text-align: center;
}
.info h1 span {
  font-size: 40px;
  color: #222222;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}
#profile {
  display: flex;
}
#picture-container {
  flex-shrink: 1;
  flex-grow: 1;
  margin-left: 20px;
  flex: 1;
}
#picture {
  background: url("img/profile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#bio {
  color: #222;
  border-radius: 15px 50px 30px 5px;
  padding: 15px;
  background-color: #FFFFFF;
  border: 1px solid gray;
  margin-left: 30px;
  margin-right: 25px;
  margin-bottom: 100px;
  position: relative;
  flex: 2;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#socials {
  z-index: 10000;
}
#socials ul {
  list-style-type: none;
  margin: 0;
  margin-top: -30px;
  margin-left: 67px;
  font-size: 20px;
  padding: 0;
}
#socials ul li {
  display: inline;
  color: #222222;
}
ul a {
  padding: 8px;
  text-decoration: none;
  color: #222222;
}
a:hover {
  font-weight: bold;
}
.projects {
  flex: 4;
  overflow-y: scroll;
  height: 100vh;
}
.projects h1 {
  text-align: center;
}
.projects h1 span {
  font-size: 40px;
  color: #222222;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}
.project {
  margin: 0 auto;
  position: relative;
  display: flex;
  height: 300px;
  border: 1px solid gray;
  width: 80%;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.5);
}
.project .title {
  margin-left: 20px;
  position: absolute;
  display: block;
}
.project .links {
  position: absolute;
  margin-top: 250px;
  margin-left: 350px;
}
.project .project-img {
  flex: 2;
  width: 200px;
  margin-top: 55px;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-right: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}
.project .desc {
  flex: 3;
  margin-top: 50px;
  padding-right: 15px;
}
#diddy-portfolio {
  background-image: url("img/diddy-portfolio.PNG");
  background-position: -60px;
}
#imunc {
  background-image: url("img/imunc.PNG");
}
#the-aftermath {
  background-image: url("img/the-aftermath.PNG")
}
#automeet {
  background-image: url("img/automeet.png");
}
#mta-realtime {
  background-image: url("img/mta-realtime.PNG");
}
#enso {
  background-image: url("img/enso.png");
  background-position: -30px;
}
/* RESPONSIVE */
/*@media (max-width:320px)  {  smartphones, iPhone, portrait 480x320 phones  }*/
/*@media (max-width:481px)  {  portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.  }*/
/*@media (max-width:641px)  {  portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones  }*/
/*@media (max-width:961px)  {  tablet, landscape iPad, lo-res laptops ands desktops  }*/
/*@media (max-width:1025px) {  big landscape tablets, laptops, and desktops  }*/
@media (max-width: 1475px) {
  #socials ul {
    margin-top: -80px;
  }
}
@media (max-width: 1330px) {
  #socials ul {
    margin-top: -120px;
  }
}
@media (max-width:1230px) { /* 1281px hi-res laptops and desktops */
  #break {
    display: block;
  }
  .projects {
    overflow: hidden;
    height: auto;
  }
  .main {
    flex-direction: column;
  }
  .info {
    height: 100%;
  }
  #profile {
    flex-direction: column;
  }
  #picture-container {
    margin-left: 0px;
  }
  #picture {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    flex: 2;
  }
  #bio {
    flex: 1;
    padding: 5px 5px 5px 10px;
    margin-bottom: 10px;
  }
  #socials {
    margin-top: 10px;
    margin-left: 0px;
  }
  #socials ul {
    margin: 0px;
    text-align: center;
    margin-bottom: -10px;
  }
  #projects {
    height: 0%;
    overflow: hidden;
  }
  .project {
    flex-direction: column;
    height: 400px;
  }
  .project .project-img {
    width: 250px;
    padding: 0;
    flex: 5;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 0px;
  }
  .project .desc {
    flex: 1;
    margin-top: 5px;
    margin-left: 15px;
  }
  .project .links {
    position: absolute;
    margin-top: 360px;
    margin-left: 150px;
  }
  .fix {
    margin-left: 70px;
  }
  /*
  
  .project {
  margin: 0 auto;
  position: relative;
  display: flex;
  height: 300px;
  border: 1px solid gray;
  width: 80%;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.5);
}
.project .title {
  margin-left: 20px;
  position: absolute;
  display: block;
}
.project .links {
  position: absolute;
  margin-top: 250px;
  margin-left: 350px;
}
.project .project-img {
  flex: 2;
  width: 200px;
  margin-top: 55px;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-right: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}
.project .desc {
  flex: 3;
  margin-top: 50px;
  padding-right: 15px;
}
  */
}